# Python cache
__pycache__/
*.py[cod]

# Virtual environment
venv/
env/
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Pytest cache
.pytest_cache/

# VS Code settings
.vscode/

# Other IDEs
.idea/

# Data files

*.json
*.log
